/* #language-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-content: stretch;
flex-direction: column;
} */
#notable-people,#fun-facts,#countries-spoken{
display:inline-block;
border: dashed black 1px;
/* margin:5%;
padding:5%; */
width: auto;

}
.container {
    display: flex;
    padding: 2em;
    flex-flow: row wrap;
    justify-content: space-around;
    /* border: solid black 1px; */
    flex: 0 0 0 100%;
}

.hindiHeader {
    text-align: center;
}
.flex-column{
    flex-basis: 33%;
}

.p-2{
    /* width: 33vw; */
    /* flex-basis: 50%; */
    list-style-type: none;
    align-items: center;
    align-content: center;
    text-align: center;
    /* border: solid red 1px; */

}

#hindiTranslatorInput{
    align-self: center;

}

#hindiTranslatorButton{
    display: inline;
}
